@mixin clearfix {
	&::after {
		content: "";
		display: table;
		clear: both;
    }
}

@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER
/*
			Phone
		px	Tablet
	-1500px	Laptop
1501px+	Current styles apply

$breakpoint ARGUMENTS
- phone
- tablet
- laptop

1em = 16px
*/
@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media (max-width: 37.5em) { @content };
	}
	@if $breakpoint == tablet {
		@media (max-width: 56.25em) { @content };
	}
	@if $breakpoint == laptop {
		@media (max-width: 93.75em) { @content };
	}

}