// colors
$color-primary-light: #b07e7c;
$color-primary-dark: rgb(119, 65, 57);
$color-grey: rgb(108, 101, 100);
$color-brown: rgb(166, 120, 76);

$color-pink-bright: #f995fa;
$color-purple-grey: #8e7da1;
$color-yellow-gold: #ffc73d;

$color-red-dark: #bf000a;
$color-red-light: #ffccce;
$color-blue-dark: #005fd0;
$color-blue-light: #cce3ff;
$color-yellow-dark: #ffaf00;
$color-yellow-light: #ffefcc;
$color-orange-dark: #f85a08;
$color-orange-light: #fab61d;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #ccc;
$color-grey-dark: #777;
$color-grey-dark-2: #333;
$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.2rem;

// grid
$grid-width: 90vw;
$gutter-vertical: 5.5rem;
$gutter-horizontal: 4rem;
$gutter-horizontal-micro: 1.5rem;
$gutter-vertical-micro: 1.5rem;