.popup {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .9);
    height: 100vh;
    width: 100%;
    z-index: 3000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &__content {
        @include center;
        width: 75%;
        margin: 0 auto;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        background-color: $color-white;
        border-radius: 3px;
        font-size: $default-font-size;
        display: table; //this is done instead of floating the left and right content because it will make it easier to centre the content on the right
        overflow: hidden;
        opacity: 0; // the initial state of the content when the popup becomes the target
        transform: translate(-50%, -50%) scale(0); //note that we have included the mixin "center", which already includes a transform property; we have to now include the values from that original transform in order not to override them.
        transition: all .5s;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__left {
        width: 33.333333%;
        display: table-cell;
    }

    &__right {
        width: 66.666667%;
        display: table-cell;
        vertical-align: middle; //a property that can be applied to table cells
        padding: 3rem 5rem;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        column-count: 2;
        column-gap: 4rem;
        column-rule: 1px solid $color-grey-light-2;
        text-align: justify;

        hyphens: auto;
    }

    //OPEN STATES

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content { // we want to style the content at the moment the popup is opened, i.e. at the moment the popup becomes a target
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    // END OPEN STATES    

    &__close {
        &:link,
        &:visited {
            color: $color-grey-dark;
            position: absolute;
            top: 1.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1; //this is done to help center the x
        }

        &:hover {
            color: $color-blue-dark;
        }
    }

    &__comingSoon {
        @include center;
        width: 25%;
        padding: 2rem;
        margin: 0 auto;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        background-color: $color-grey-light-1;
        border-radius: 3px;
        font-size: 3rem;
        font-weight: 700;
        color: $color-red-light;
        text-align: center;
        text-transform: uppercase;;
        display: table; //this is done instead of floating the left and right content because it will make it easier to centre the content on the right
        overflow: hidden;
        opacity: 0; // the initial state of the content when the popup becomes the target
        transform: translate(-50%, -50%) scale(0); //note that we have included the mixin "center", which already includes a transform property; we have to now include the values from that original transform in order not to override them.
        transition: all .5s;
    }

    &:target &__comingSoon { // we want to style the content at the moment the popup is opened, i.e. at the moment the popup becomes a target
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    
}